<div class="bg-blue-50 pt-4 max-w-full max-h-screen h-screen">
  <div class=" ml-32 max-w-screen-2xl h-auto">
    <div class="h-20 w-auto">
      <div class="flex justify-between pt-8 pl-4 pr-0">
        <div class="font-thick">Create Vacancy(50)</div>
        <div class="flex flex-row gap-x-2">
          <div class="h-10 w-80 bg-white rounded flex flex-row border gap-x-2 justify-between">
            <p class="text-gray-400 m-1 pl-4">Search by post</p>
            <i>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 m-2 text-gray-400" fill="none" viewBox="0 0 24 24"
                   stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
              </svg>
            </i>
          </div>
          <div class="relative group">
            <div class=" flex inline-flex justify-between p-2 max-w w-32 bg-white rounded h-10">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-2 mt-1" fill="none" viewBox="0 0 24 24"
                   stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M3 4a1 1 0 011-1h16a1 1 0 011 1v2.586a1 1 0 01-.293.707l-6.414 6.414a1 1 0 00-.293.707V17l-4 4v-6.586a1 1 0 00-.293-.707L3.293 7.293A1 1 0 013 6.586V4z"/>
              </svg>
              <div class="text-gray-600 text-thin mr-4">Filter</div>
            </div>
            <div class="absolute hidden bg-grey-200 group-hover:block pointer-events-auto">
              <div class="w-96 h-auto bg-white bg-gray-200 shadow-lg rounded">
                <div class="flex flex-row block justify-between p-4 hover:bg-blue-50">
                  <div>Filteres</div>
                  <i>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                    </svg>
                  </i>
                </div>
                <hr>
                <div class="block hover:bg-blue-50 pl-1">
                  <div class=" border-solid border-black rounded ">
                    <div class="flex flex-row justify-between">
                      <i>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor" stroke-width="2">
                          <path stroke-linecap="round" stroke-linejoin="round"
                                d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z"/>
                        </svg>
                      </i>
                      <div>Status</div>
                      <i>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor" stroke-width="2">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M5 15l7-7 7 7"/>
                        </svg>
                      </i>
                    </div>
                  </div>
                  <div>open</div>
                  <div>Draft</div>
                  <div>Close</div>
                </div>
                <div class="block hover:bg-blue-50">3</div>
                <div class="block hover:bg-blue-50">4</div>
                <div class="block hover:bg-blue-50">5</div>
                <div class="block hover:bg-blue-50">6</div>
                <div class="block hover:bg-blue-50">7</div>
              </div>
            </div>
          </div>
          <div>
            <button class="bg-blue-800 text-white text-sm p-2 rounded">Add vacancy</button>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="grid grid-cols-3 pt-12 justify-between gap-x-2 gap-y-1">
      <div class="card h-62">
        <div class="flex flex-row p-2 m-2 ">
          <button class="btn">Open</button>
          <div class="ml-4">Posted on 30 Dec 2021</div>
          <div class="relative group">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-52" viewBox="0 0 20 20" fill="currentColor">
              <path
                d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"/>
            </svg>
            <div class="absolute hidden group-hover:block">
              <div class="dropdown w-auto h-auto ml-20 w-40 h-18">
                <a href="#" class="block hover:bg-blue-50 p-2">Edit</a>
                <a href="#" class="block hover:bg-blue-50 p-2">Delete</a>
              </div>
            </div>
          </div>
        </div>
        <div class="text-sm text-bold m-4 ">Front-End Developer</div>
        <div class="m-4 text-sm text-gray-400 text-justify">We are looking for a passionate and motivated full stack
          developer to join our
          growing team.
          This person would be working closely with internal business units to develop..
        </div>
        <div class="flex flex-row m-4 text-sm justify-between">
          <div>2 Jan 2021</div>
          <div>2</div>
          <div>12</div>
        </div>
        <div class="flex flex-row m-4 text-sm justify-between text-gray-400">
          <div>Application Due Date</div>
          <div>Slots</div>
          <div>Canidates</div>
        </div>
      </div>
      <div class="card h-62">
        <div class="flex flex-row p-2 m-2">
          <button class="btn">Open</button>
          <div class="ml-4">Posted on 30 Dec 2021</div>
          <div class="relative group">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-52" viewBox="0 0 20 20" fill="currentColor">
              <path
                d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"/>
            </svg>
            <div class="absolute hidden group-hover:block">
              <div class="dropdown ml-20 w-40 h-18">
                <a href="#" class="block hover:bg-blue-50 p-2">Edit</a>
                <a href="#" class="block hover:bg-blue-50 p-2">Delete</a>
              </div>
            </div>
          </div>
        </div>
        <div class="text-sm text-bold m-4 ">Front-End Developer</div>
        <div class="m-4 text-sm text-gray-400 text-justify">We are looking for a passionate and motivated full stack
          developer to join our
          growing team.
          This person would be working closely with internal business units to develop..
        </div>
        <div class="flex flex-row m-4 text-sm justify-between">
          <div>2 Jan 2021</div>
          <div>2</div>
          <div>12</div>
        </div>
        <div class="flex flex-row m-4 text-sm justify-between text-gray-400">
          <div>Application Due Date</div>
          <div>Slots</div>
          <div>Canidates</div>
        </div>
      </div>
      <div class="card h-62">
        <div class="flex flex-row p-2 m-2 ">
          <button class="btn !bg-gray-400">Draft</button>
          <div class="ml-4">Posted on 30 Dec 2021</div>
          <div class="relative group">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-52" viewBox="0 0 20 20" fill="currentColor">
              <path
                d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"/>
            </svg>
            <div class="absolute hidden group-hover:block">
              <div class="dropdown ml-20 w-40 h-18">
                <a href="#" class="block hover:bg-blue-50 p-2">Edit</a>
                <a href="#" class="block hover:bg-blue-50 p-2">Delete</a>
              </div>
            </div>
          </div>
        </div>
        <div class="text-sm text-bold m-4 ">Front-End Developer</div>
        <div class="m-4 text-sm text-gray-400 text-justify">We are looking for a passionate and motivated full stack
          developer to join our
          growing team.
          This person would be working closely with internal business units to develop..
        </div>
        <div class="flex flex-row m-4 text-sm justify-between">
          <div>2 Jan 2021</div>
          <div>2</div>
          <div>12</div>
        </div>
        <div class="flex flex-row m-4 text-sm justify-between text-gray-400">
          <div>Application Due Date</div>
          <div>Slots</div>
          <div>Canidates</div>
        </div>
      </div>
      <div class="card h-62">
        <div class="flex flex-row p-2 m-2">
          <button class="btn">Open</button>
          <div class="ml-4">Posted on 30 Dec 2021</div>
          <div class="relative group">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-52" viewBox="0 0 20 20" fill="currentColor">
              <path
                d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"/>
            </svg>
            <div class="absolute hidden group-hover:block">
              <div class="dropdown ml-20 w-40 h-18">
                <a href="#" class="block hover:bg-blue-50 p-2">Edit</a>
                <a href="#" class="block hover:bg-blue-50 p-2">Delete</a>
              </div>
            </div>
          </div>
        </div>
        <div class="text-sm text-bold m-4 ">Front-End Developer</div>
        <div class="m-4 text-sm text-gray-400 text-justify">We are looking for a passionate and motivated full stack
          developer to join our
          growing team.
          This person would be working closely with internal business units to develop..
        </div>
        <div class="flex flex-row m-4 text-sm justify-between">
          <div>2 Jan 2021</div>
          <div>2</div>
          <div>12</div>
        </div>
        <div class="flex flex-row m-4 text-sm justify-between text-gray-400">
          <div>Application Due Date</div>
          <div>Slots</div>
          <div>Canidates</div>
        </div>
      </div>
      <div class="card h-62">
        <div class="flex flex-row p-2 m-2 ">
          <button class="btn">Open</button>
          <div class="ml-4">Posted on 30 Dec 2021</div>
          <div class="relative group">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-52" viewBox="0 0 20 20" fill="currentColor">
              <path
                d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"/>
            </svg>
            <div class="absolute hidden group-hover:block">
              <div class="dropdown ml-20 w-40 h-18">
                <a href="#" class="block hover:bg-blue-50 p-2">Edit</a>
                <a href="#" class="block hover:bg-blue-50 p-2">Delete</a>
              </div>
            </div>
          </div>
        </div>
        <div class="text-sm text-bold m-4 ">Front-End Developer</div>
        <div class="m-4 text-sm text-gray-400 text-justify">We are looking for a passionate and motivated full stack
          developer to join our
          growing team.
          This person would be working closely with internal business units to develop..
        </div>
        <div class="flex flex-row m-4 text-sm justify-between">
          <div>2 Jan 2021</div>
          <div>2</div>
          <div>12</div>
        </div>
        <div class="flex flex-row m-4 text-sm justify-between text-gray-400">
          <div>Application Due Date</div>
          <div>Slots</div>
          <div>Canidates</div>
        </div>
      </div>
      <div class="card h-62">
        <div class="flex flex-row p-2 m-2 ">
          <button class="btn">Open</button>
          <div class="ml-4">Posted on 30 Dec 2021</div>
          <div class="relative group">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-52" viewBox="0 0 20 20" fill="currentColor">
              <path
                d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"/>
            </svg>
            <div class="absolute hidden group-hover:block">
              <div class="dropdown ml-20 w-40 h-18">
                <a href="#" class="block hover:bg-blue-50 p-2">Edit</a>
                <a href="#" class="block hover:bg-blue-50 p-2">Delete</a>
              </div>
            </div>
          </div>
        </div>
        <div class="text-sm text-bold m-4 ">Front-End Developer</div>
        <div class="m-4 text-sm text-gray-400 text-justify">We are looking for a passionate and motivated full stack
          developer to join our
          growing team.
          This person would be working closely with internal business units to develop..
        </div>
        <div class="flex flex-row m-4 text-sm justify-between">
          <div>2 Jan 2021</div>
          <div>2</div>
          <div>12</div>
        </div>
        <div class="flex flex-row m-4 text-sm justify-between text-gray-400">
          <div>Application Due Date</div>
          <div>Slots</div>
          <div>Canidates</div>
        </div>
      </div>
      <div class="card h-62">
        <div class="flex flex-row p-2 m-2">
          <button class="btn">Open</button>
          <div class="ml-4">Posted on 30 Dec 2021</div>
          <div class="relative group">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-52" viewBox="0 0 20 20" fill="currentColor">
              <path
                d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"/>
            </svg>
            <div class="absolute hidden group-hover:block">
              <div class="dropdown ml-20 w-40 h-18">
                <a href="#" class="block hover:bg-blue-50 p-2">Edit</a>
                <a href="#" class="block hover:bg-blue-50 p-2">Delete</a>
              </div>
            </div>
          </div>
        </div>
        <div class="text-sm text-bold m-4 ">Front-End Developer</div>
        <div class="m-4 text-sm text-gray-400 text-justify">We are looking for a passionate and motivated full stack
          developer to join our
          growing team.
          This person would be working closely with internal business units to develop..
        </div>
        <div class="flex flex-row m-4 text-sm justify-between">
          <div>2 Jan 2021</div>
          <div>2</div>
          <div>12</div>
        </div>
        <div class="flex flex-row m-4 text-sm justify-between text-gray-400">
          <div>Application Due Date</div>
          <div>Slots</div>
          <div>Canidates</div>
        </div>
      </div>
      <div class="card h-62">
        <div class="flex flex-row p-2 m-2 ">
          <button class="btn !bg-red-500">Open</button>
          <div class="ml-4">Posted on 30 Dec 2021</div>
          <div class="relative group">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-52" viewBox="0 0 20 20" fill="currentColor">
              <path
                d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"/>
            </svg>
            <div class="absolute hidden group-hover:block">
              <div class="dropdown ml-20 w-40 h-18">
                <a href="#" class="block hover:bg-blue-50 p-2">Edit</a>
                <a href="#" class="block hover:bg-blue-50 p-2">Delete</a>
              </div>
            </div>
          </div>
        </div>
        <div class="text-sm text-bold m-4 ">Front-End Developer</div>
        <div class="m-4 text-sm text-gray-400 text-justify">We are looking for a passionate and motivated full stack
          developer to join our
          growing team.
          This person would be working closely with internal business units to develop..
        </div>
        <div class="flex flex-row m-4 text-sm justify-between">
          <div>2 Jan 2021</div>
          <div>2</div>
          <div>12</div>
        </div>
        <div class="flex flex-row m-4 text-sm justify-between text-gray-400">
          <div>Application Due Date</div>
          <div>Slots</div>
          <div>Canidates</div>
        </div>
      </div>
      <div class="card h-62">
        <div class="flex flex-row p-2 m-2 ">
          <button class="btn btn !bg-red-500">Open</button>
          <div class="ml-4">Posted on 30 Dec 2021</div>
          <div class="relative group">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-52" viewBox="0 0 20 20" fill="currentColor">
              <path
                d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"/>
            </svg>
            <div class="absolute hidden group-hover:block">
              <div class="dropdown ml-20 w-40 h-18">
                <a href="#" class="block hover:bg-blue-50 p-2">Edit</a>
                <a href="#" class="block hover:bg-blue-50 p-2">Delete</a>
              </div>
            </div>
          </div>
        </div>
        <div class="text-sm text-bold m-4 ">Front-End Developer</div>
        <div class="m-4 text-sm text-gray-400 text-justify">We are looking for a passionate and motivated full stack
          developer to join our
          growing team.
          This person would be working closely with internal business units to develop..
        </div>
        <div class="flex flex-row m-4 text-sm justify-between">
          <div>2 Jan 2021</div>
          <div>2</div>
          <div>12</div>
        </div>
        <div class="flex flex-row m-4 text-sm justify-between text-gray-400">
          <div>Application Due Date</div>
          <div>Slots</div>
          <div>Canidates</div>
        </div>
      </div>
    </div>
  </div>
</div>
